{% for group in groups %}
    <div class="card w-full bg-base-100 shadow-xl mb-3">
        <div class="card-body">
            <div class="flex justify-start">
                <div>{{ group.name }}</div>
            </div>
            <p class="card-title">{{ group.info }}</p>
            <div class="card-actions flex justify-between">
                <div>
                    <a href="{{ path('app_group_index', {'category': group.tags[0].category.name == app.request.query.get('category') ? null : group.tags[0].category.name}) }}"
                       class="badge badge-outline bg-green-{{ group.tags[0].category.name == app.request.query.get('category') ? '400' : '200' }}"
                    >{{ group.tags[0].category.name }}</a>
                    {% for tag in group.tags %}
                        <a href="{{ path('app_group_index', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                           class="badge badge-outline bg-fuchsia-{{ tag.name == app.request.query.get('tag') ? '400' : '200' }}"
                        >{{ tag.name }}</a>
                    {% endfor %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="badge badge-outline">Студентов: {{ group.students.count }}
                            из {{ group.requiredStudents }}</div>
                        <div class="badge badge-outline">Преподавателей: {{ group.teachers.count }}
                            из {{ group.requiredTeachers }}</div>
                    {% endif %}
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set user_id = app.user.id %}
                    {% set is_member = user_id in group.students|map(item => item.user.id)|merge(group.teachers|map(item => item.user.id))|merge([group.administrator.user.id]) %}
                    {% if not is_member and group.teachers.count < group.requiredTeachers and group.students.count < group.requiredStudents %}
                        <form method="post" action="{{ path('app_group_enroll') }}">
                            <input type="hidden" name="receiver_id" value="{{ group.administrator.user.id }}">
                            <input type="hidden" name="group_name" value="{{ group.name }}">
                            <button type="submit" class="badge badge-outline">Вступить</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}