{% extends 'base.html.twig' %}

{% block title %}Сообщения{% endblock %}
{% block button %}{% endblock %}

{% block body %}
    <div class="flex flex-row" style="height: calc(100vh - 69px)">
    <div class="w-2/5 flex flex-col justify-start items-center overflow-y-auto">
        {% for dialog in dialogs %}
            <div class="card w-96
                {% if activeUser and activeUser.fullName == dialog.fullName %}bg-base-200{% else %}bg-base-100{% endif %} shadow m-3">
                <div class="card-body">
                    <a href="{{ path('app_message_show', {'id': dialog.id}) }}"
                       class="card-title">{{ dialog.fullName }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if activeUser %}
        {% if chat is empty %}
            <p>Нет сообщений.</p>
        {% else %}
            <div class="w-3/5 flex flex-col justify-end items-center h-full">
            <div class="w-2/3 justify-end overflow-y-auto" id="myDiv">
            {% for message in chat %}
                {% if message.sender == app.user %}
                    <div class="chat chat-end">
                        <div class="chat-header">
                            {{ message.sender.fullName }}
                            <time class="text-xs opacity-50">{{ message.sendingDate|date('H:i d/m/Y') }}</time>
                        </div>
                        <div class="chat-bubble">{{ message.content }}</div>
                    </div>
                {% else %}
                    <div class="chat chat-start">
                        <div class="chat-header">
                            {{ message.sender.fullName }}
                            <time class="text-xs opacity-50">{{ message.sendingDate|date('H:i d/m/Y') }}</time>
                        </div>
                        <div class="chat-bubble">{{ message.content }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <form method="post" action="{{ path('app_message_send') }}" class="w-2/3">
            <input type="hidden" name="receiver_id" value="{{ activeUser.id }}">
            <div class="flex flex-row justify-center items-center mt-3 mb-1">
                <input type="text" placeholder="Введите сообщение" class="input input-bordered w-full max-w-xs mr-3"
                       id="content" name="content" required/>
                <button type="submit"><i class="fa-regular fa-paper-plane fa-xl" style="color: #00333b;"></i></button>
            </div>
        </form>
        </div>
        </div>
    {% else %}
        <div class="w-3/5 flex justify-center items-center h-full text-2xl">
            Выберите чат.
        </div>
    {% endif %}
    <script>
        const myDiv = document.getElementById("myDiv");
        myDiv.scrollTop = myDiv.scrollHeight - myDiv.clientHeight;
    </script>
{% endblock %}
