<!DOCTYPE html>
<html data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% block menu %}
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"/>
                    </svg>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a>Объявления</a></li>
                        <li><a>Группы</a></li>
                        <li><a>Прикладные материалы</a></li>
                        <li><a>Сообщения</a></li>
                        <li><a>Обучение</a></li>
                    {% else %}
                        <li><a>Объявления</a></li>
                        <li><a>Группы</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">{% block name %}{% endblock %}</a>
        </div>
        <div class="navbar-end">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_logout') }}" class="btn btn-outline mr-3">Выйти</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline mr-3">Войти</a>
                <a href="{{ path('app_register') }}" class="btn">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
<div class="content">
    <div>
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
